* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Modal*/
#modal {
  position: relative;
  z-index: 999;
}
/*Menu Navbar*/
nav.menu-navbar-superior {
  position: fixed;
  padding: 0 10px;
  height: 55px;
  width: 100%;
  background: #4d302d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.menu-navbar-superior {
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
}
@media (max-width: 600px) {
  nav.menu-navbar-superior {
    height: 35px;
  }
}
