html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body{
  height: 100%;
}

section.body{
  background-color: #a0b9b5;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
  }
  & .menu-int{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #7397e4;
    @media(max-width:768px){
      grid-row-start: 2;
      height: 30px;
      top:auto;
      bottom: 0;
      left: 0;
    }
  }
}

ul.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:aliceblue;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  @media(max-width:768px){
    flex-direction: row;
  }
  &.active{
    color: #50b988;
  }
  li{
    list-style-type: none;
  }
}

section.page_productos{
  padding: 10px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 24px;
  /* this is a Component*/
  article.ComponentCard{
  width: 100%;
  background: #7E4EAC;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  & h1{
    background-color: aqua;
    margin: 5px;
    }
  }
}
form.producto{
  position: absolute;
  top: 0;
  
}

div.modal{
  background-color:#bd856f;
  width: 85%;
  height: 70%;
  margin: 2px;
  border:none;
  padding: 0 0 5px 5px;
  border-radius: 15px;
  top: 0;
  z-index: 3;
  position: absolute;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Verde */
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
}

.btn_flotante{
  font-size:18px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  background-color: #442C2E; /* Color de fondo */
  padding: 5px 8px; /* Relleno del boton */
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  &:hover {
      background-color: #FEDBD0; /* Color de fondo al pasar el cursor */
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-7px);
      color:#000;
  }
  @media only screen and (max-width: 600px) {
      font-size: 18px;
      padding: 5px 8px; /* Relleno del boton */
      border-radius: 50%;
      bottom: 20px;
      right: 20px;
      
  }
}

.btn_flotante2{
  font-size:16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  background-color: #442C2E; /* Color de fondo */
  padding: 5px 8px; /* Relleno del boton */
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 25px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  &:hover {
      background-color: #FEDBD0; /* Color de fondo al pasar el cursor */
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-7px);
      color:#000;
  }
  @media only screen and (max-width: 600px) {
      font-size: 16px;
      padding: 5px 8px; /* Relleno del boton */
      border-radius: 50%;
      bottom: 80px;
      right: 25px;
  }
}
.menu{
  font-size: 25px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 600px) {
      font-size: 17px;
  }
}
/* li
*/.lis{
  top:15px;
  list-style:none;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &:hover {
      background-color: #442C2E; /* Color de fondo al pasar el cursor */
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-7px);
  }
}



.height-lore{
  height: 480px;
}
.viewport {
  composes: height-lore;
  width: 640px;
  border-radius: 10px;
  
}
.viewport canvas, video {
  float: left;
  width: 640px;
  height: 480px;
}
.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
}
.buttonSucess{
  flex-grow:2;
  background-color: #ebbbad;
  border-color: #e6b4a5eb;
  padding: 10px;
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(245, 190, 158, 0.589);
}

.buttonCancel{
  flex-grow:1;
  background-color:#fa3e3e;
  border-color: #ee6b6b;
  padding: 10px;
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(243, 69, 98, 0.459);
}
.buttonSucess:hover, .buttonCancel:hover{
  box-shadow: 0px 8px 15px rgba(31, 4, 8, 0.144);
}
@media (max-width: 603px) {
  .viewport {
      width: 300px;
      height: 300px;
      overflow: hidden;
  }
  .viewport canvas, video {
      margin-top: -50px;
      width: 300px;
      height: 400px;
  }   
  .viewport canvas.drawingBuffer, video.drawingBuffer {
      margin-left: -300px;
  }
} 
